
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');

.body{
  height: 100vh;
  margin: 0 auto;
  background-color: #160202;
  /* overflow-x: hidden; */
}

/* Navbar stuff */

.navbox{
  background-color: transparent;
}

.navbar-bg{
  background-color: #81D7D3;
  box-shadow: 0 0 2px 2px #81d7d3;
  font-family: 'Maven Pro', sans-serif;
}

.navlist{
  list-style-type:none;
}

.nav-link{
  color: #0affdef8 !important;
  user-select: none;
}



/* hover Animation underline */

.nav-link:hover{
  color:  #08bbb2 !important;   /*#0087ca*/
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0febe0;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1px;
  bottom: 0;
  left: 0;
  background-color: #0febe0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

/* Hover animation done */

/* Navbar Stuff Done */


/* Landing CSS */


.intro-box{
  margin: 5%;
  height: 100vh;
}

.head-font{
  font-family: 'IBM Plex Mono', monospace;
  color: #00FF66;
  user-select: none;
}

.landing-bg{
  margin-top: 14.5%;
}

.particleBack{
  position: absolute;
  width: fit-content;
}

/* Landing CSS ends */  



/* About Page css */
.about-bg{
  background-color: green;
  height: 100vh;
}
/* About Page ends */