
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

body{
  background-color: #000000;
  overflow-x: hidden;
}

.body{
  height: fit-content;
  margin: 0 auto;
  background-color: #000000;
  overflow-x: hidden;
}

/* General Effects */

.nolink{
  color: #00FF66;
  text-decoration: none;
}

.nolink:hover{
  color: #ffffff;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00FF66;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00FF66;
}


/* --------------- */


/* Navbar stuff */

.navbox{
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}

.navbar-bg{
  background-color: #81D7D3;
  box-shadow: 0 0 2px 2px #81d7d3;
  font-family: 'Maven Pro', sans-serif;
}

.navlist{
  list-style-type:none;
}

.nav-link{
  color: #0affdef8 !important;
  user-select: none;
}

.bg-nav{
  background-color: #000000;
}


/* hover Animation underline */

.nav-link:hover{
  color:  #08bbb2 !important;   /*#0087ca*/
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0febe0;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1px;
  bottom: 0;
  left: 0;
  background-color: #0febe0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

/* Hover animation done */

/* Navbar Stuff Done */


/* Landing CSS */

#landing{
  height: 90vh;
  background-color: #000000;
}

.intro-box{
  /* margin: 5%; */
  align-self: center;
}

.head-font{
  font-family: 'IBM Plex Mono', monospace;
  color: #00FF66;
  user-select: none;
  font-weight: 400;
}

.landing-bg{
  margin-top: 14.5%;
}

.particleBack{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0
}

/* Landing CSS ends */  



/* About Page css */
#aboutme{
  height: 100vh;
  padding-top: 100px; 
  margin-top: -15%;
}
.about_bg{
  background-color: #000000;
}
.about-font{
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(22, 25, 155);
  user-select: none;
}

.about-font:hover{
  text-shadow: 0 0 40px #01f0b4;;
}

.content-font-about{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 120%;
  text-align: left;
  color: #11c077;
}

.content-box{
  width: 400%;
}

.hover-underline-animation2 {
  display: inline-block;
  position: relative;
  color: rgb(22, 25, 155);
}

.hover-underline-animation2:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1px;
  bottom: 0;
  left: 0;
  background-color: #0febe0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

/* About Page ends */

/* Projects Section starts */

#projects{
  height: 100vh;
  margin-bottom: 10%;
  padding-top: 100px;
}

.bg-card{
  background-color: #0a130c !important;
}

.zoom{
  width: 18rem !important;
  transition: transform .2s;
}

.zoom:hover{
  transform: scale(1.2);
}

.card-title{
  color: #00FF66;
  font-family: 'IBM Plex Mono', monospace;
}

.card-title:hover{
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation2 {
  display: inline-block;
  position: relative;
  color: rgb(0, 255, 234);
}

.hover-underline-animation3:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.1px;
  bottom: 0;
  left: 0;
  background-color: #08c475;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-shadow: 0 0 5px #01f0b4;
}

.hover-underline-animation3:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

.card-text{
  text-align: left;
  color: #08c475;
}

.fix{
  height: 150px !important;
}

.tl{
  text-align: left;
}

.tl2{
  text-align: right;
}

/* Projects Page done */

/* Contacts Section goes here  */

#contacts{
  height: 90vh;
  padding-top: 100px;
}

.size-img{
  align-self: center;
  width: 12rem;
  height: 12rem;
  user-select: none;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.size-img:hover{
  transform: scale(1.1);
}

.size-img-ln{
  align-self: center;
  width: 10rem;
  height: 10rem;
  user-select: none;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.size-img-ln:hover{
  transform: scale(1.1);
}

.tx{
  font-family: 'Maven Pro', sans-serif;
  color:#00FF66;
  text-align: center;
  text-decoration: none;
}

.tx:hover{
  cursor:pointer;
  color:#63fca0;
}

.tx-lv{
  margin-left: 20px !important;
}
.text-col{
  font-family: 'Maven Pro', sans-serif;
  color:#00ff668e !important;
  text-decoration: none;
  cursor: pointer;
}

.ht{
  height: 100px;
}

.cent{
  text-align: center;
  align-items: center;
}


/* -------------------------- */

/* Media Queries */


@media  screen and (max-width: 1024px) {

  #landing{
    margin-top:20%;
    height: 70vh;
  }

  #projects{
    margin-top: 50%;
  }

  #contacts{
    margin-top: 220%;
    height: 400%;
  }
  
}

@media  screen and (max-width: 768px) {

  #landing{
    margin-top:60%;
    height: 70vh;
  }  
}

/* ------------- */

.footerfont{
  font-family: 'Maven Pro', sans-serif;
  font-size: 150%;
  text-align: center;
  color:#18bbe4;
}